body {
    margin: 0;
    padding: 0;
    background-color: #ecebeb;
}

/*p {*/
/*    font-family: 'Rubik', sans-serif;*/
/*    position: absolute;*/
/*    margin-top: -30px;*/
/*    margin-left: 70px;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*}*/